@tailwind base;
@tailwind components;
@tailwind utilities;

.font-Conthrax{
    font-family: 'Conthrax', 'sans-serif','Montserrat';
}
.text-lg{
    font-size: 2rem;
    line-height: 1rem ;
}
.font-weight-700{
    font-weight: 900;
}
.font-montserrat{
    font-family: 'Montserrat', 'sans-serif';
}
.sm\:text-sm{
    font-size: 0.60rem;
    line-height: 0.9rem;
    font-family: 'Montserrat';
}
.text-xs{
    font-size: 0.75rem;
    line-height: 1rem;
}
.text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
}
